/*GLOBAL*/
body, h1, h2, h3, h4, h5 {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-style: normal;
}

.container{
  margin-right: auto;
  margin-left: auto;
}

h1{
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.4;
  text-align: left;
}

p{
  font-size: 1.25em;
  font-weight: 400;
  padding-bottom: 2em;
  line-height: 1.7;
}

/*HEADER*/

nav{
  display: block;
  background: #ae1f58;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75em 3.5em;
  max-height: 100px;
  z-index: 1;
}

.nav-header{
  float: left;
}

.nav-bar{
  float: right;
  padding: 2em 0;
}

.nav-link{
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-style: normal;
  font-size: 14px / 100%;
  color: white;
  padding-left: 3em;
}

/*HERO CONTENT*/

.hero-content{
  background: #EB1767;
}

.hero-text{
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  color: white;
  margin: auto;
  max-width: 750px;
  padding-top: 100px;
}

.partnership-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-end{
  height: 100px;
}

.apply-link{
  color: white;
  font-size: 1.25em;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  display: block;
  padding: 1em;
  border-radius: 6px;
  width: 65px;
  background-color: #ae1f58;
  margin-top: 2em;
  margin-right: auto;
  margin-bottom: 5em;
  margin-left: auto;
}

/*TIMELINE*/

.timeline{
  display: block;
  background-image: url(assets/images/background_coder.jpg);
  background-attachment: fixed;
}

.timeline-text{
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  color: white;
  margin: auto;
  max-width: 600px;
  padding-top: 100px;
  align: justified;
}

/*TIMELINE FOOTER*/

.timeline-footer{
  background-color: #292627;
  padding: 2em 0;
}

.timeline-footer div{
  background-color: #292627;
}

.timeline-img{
  background-color: white;
}

/*ABOUT THE ACADEMY*/

.about-the-academy{
  display: block;
  background-color: white;
}

/*APPLY TODAY!*/

.apply-today{
  display: block;
  background-color: #f4f4f4;
}

/*CONTACT US*/

.contact-us{
  display: block;
  background-image: url(assets/images/smashing_academy_map.png)
}

/*FOOTER*/

.footer{
  display: block;
  background-color: #292627;
}
